antigravity_mcp_workflow.json
{
    "name": "Antigravity MCP Server",
    "nodes": [
        {
            "parameters": {
                "toolDescription": "List all workflows in the instance",
                "method": "list_workflows"
            },
            "name": "MCP Tool: List",
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                400,
                100
            ]
        },
        {
            "parameters": {
                "url": "=https://n8n.astravertex.com/api/v1/workflows",
                "authentication": "headerAuth",
                "options": {}
            },
            "name": "n8n Public API: List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                100
            ]
        },
        {
            "parameters": {
                "toolDescription": "Get a specific workflow JSON by ID",
                "method": "get_workflow",
                "properties": {
                    "workflowId": {
                        "type": "string",
                        "description": "The unique ID of the workflow"
                    }
                }
            },
            "name": "MCP Tool: Get",
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://n8n.astravertex.com/api/v1/workflows/{{$json.workflowId}}",
                "authentication": "headerAuth"
            },
            "name": "n8n Public API: Get",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "toolDescription": "Update an existing workflow by ID with new JSON definition",
                "method": "update_workflow",
                "properties": {
                    "workflowId": {
                        "type": "string",
                        "description": "ID of the workflow to update"
                    },
                    "workflowJson": {
                        "type": "object",
                        "description": "The full JSON definition of the workflow"
                    }
                }
            },
            "name": "MCP Tool: Update",
            "type": "n8n-nodes-base.mcpServerTrigger",
            "typeVersion": 1,
            "position": [
                400,
                500
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://n8n.astravertex.com/api/v1/workflows/{{$json.workflowId}}",
                "authentication": "headerAuth",
                "sendBody": true,
                "bodyParameters": "={{$json.workflowJson}}",
                "options": {}
            },
            "name": "n8n Public API: Update",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                500
            ]
        }
    ],
    "connections": {
        "MCP Tool: List": {
            "main": [
                [
                    {
                        "node": "n8n Public API: List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MCP Tool: Get": {
            "main": [
                [
                    {
                        "node": "n8n Public API: Get",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MCP Tool: Update": {
            "main": [
                [
                    {
                        "node": "n8n Public API: Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}