workflows_utf8.json
{"data":[{"updatedAt":"2025-12-09T05:08:42.416Z","createdAt":"2025-12-03T14:15:05.082Z","id":"bzITGGgo5kH3yz8h","name":"Test Grq","active":false,"isArchived":true,"nodes":[{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-448,-144],"id":"180680c8-6184-4c70-bbd8-03227b3a7e31","name":"Groq Chat Model","credentials":{"groqApi":{"id":"AguPaPBBgPVPderS","name":"Groq account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"949995c8-921d-4a8f-850b-1ce44f3e157e","leftValue":"={{ $json.message.from.id }}","rightValue":1354401937,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,-352],"id":"aac2b580-bbaa-49a8-9c01-8bd8eb4d740c","name":"If"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-704,-352],"id":"bee24982-764f-4b8e-b0ac-f585bb9e7e40","name":"Telegram Trigger","webhookId":"a5882b9f-aaa3-4a60-9bae-5cf1e54b0f68","credentials":{"telegramApi":{"id":"0I784GjmVgEbddxU","name":"AstraVertex API Bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,-368],"id":"5e50c90c-f2c5-4875-a4a1-cefce11f23c4","name":"Send a text message","webhookId":"8d97138a-55ec-4d0a-a274-bf3b2b981739","credentials":{"telegramApi":{"id":"0I784GjmVgEbddxU","name":"AstraVertex API Bot"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Eres mi asistente personal, mi nombre es Gustavo G├│mez y soy CEO de AstraVertex.\n\nPara las citas usaras el mcp client conectado como una heramienta.\n\nContestar├ís siempre a este mensaje:  {{ $json.message.text }}\n\nSeras breve y usaras un tono respetuoso y sumiso."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-256,-368],"id":"d8c3f628-a20c-4b8d-bb38-bc6419a462d1","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.from.id }}","tableName":"vertexAI_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-256,-160],"id":"1fa86a1a-95d7-47de-8de4-62a9f0c293ed","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"h2OuyVlsJBzFVQqf","name":"Postgres account"}}},{"parameters":{"endpointUrl":"https://n8n.astravertex.com/mcp/f9c5267e-77bd-481a-946a-5243717dd0d3","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[-16,-144],"id":"86ea2b82-e6ef-4efa-b26b-85f1a09b9de8","name":"MCP Client"}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f28550d9-9be9-4b39-af1c-216b31730c6d","triggerCount":1,"shared":[{"updatedAt":"2025-12-03T14:15:05.082Z","createdAt":"2025-12-03T14:15:05.082Z","role":"workflow:owner","workflowId":"bzITGGgo5kH3yz8h","projectId":"YqeuzD1OmtG6aqwS"}],"tags":[]},{"updatedAt":"2025-12-09T05:08:18.398Z","createdAt":"2025-12-03T17:16:19.639Z","id":"Em2YbLntfrByiKux","name":"MCP Server Astra","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"f9c5267e-77bd-481a-946a-5243717dd0d3"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-80,-128],"id":"92c1668b-506f-4247-9e59-f82826fa47e7","name":"MCP Server Trigger","webhookId":"f9c5267e-77bd-481a-946a-5243717dd0d3"},{"parameters":{"calendar":{"__rl":true,"value":"kukulkantics@gmail.com","mode":"list","cachedResultName":"kukulkantics@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[16,80],"id":"6a4a4843-9fb7-4df3-aa19-0aa921ed74fe","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"YzWO7SeQ2u4WugSL","name":"Google Calendar account - KukulkanGmail"}}}],"connections":{"Create an event in Google Calendar":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"257f38e8-eb4b-41d3-bf05-275fdbdde6e2","triggerCount":1,"shared":[{"updatedAt":"2025-12-03T17:16:19.639Z","createdAt":"2025-12-03T17:16:19.639Z","role":"workflow:owner","workflowId":"Em2YbLntfrByiKux","projectId":"YqeuzD1OmtG6aqwS"}],"tags":[]},{"updatedAt":"2025-12-04T18:08:51.367Z","createdAt":"2025-12-03T17:46:20.296Z","id":"bpkuwtPUxlhXnR39","name":"Asistente Personal AstraVertex CEO","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"88f2bfc3-a997-4838-a4e6-911c60d377ec","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[880,480],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1,"credentials":{"telegramApi":{"id":"0I784GjmVgEbddxU","name":"AstraVertex API Bot"}}},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"fe37d04d-2bb4-4130-8386-665364195dce","name":"Telegram","type":"n8n-nodes-base.telegram","position":[2688,464],"webhookId":"2c133a40-af48-4106-bc1a-be6047840a89","typeVersion":1.1,"credentials":{"telegramApi":{"id":"0I784GjmVgEbddxU","name":"AstraVertex API Bot"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0bf9719-4272-46f6-ab3b-eda6f7b44fd8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"options":{}},"id":"a5717776-2c85-4dfb-9e05-bf9b805f9004","name":"If","type":"n8n-nodes-base.if","position":[1328,480],"typeVersion":2.2},{"parameters":{"fields":{"values":[{"name":"text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"dc3d741a-2ed6-4c34-b14f-91a728b3fffd","name":"Voice or Text","type":"n8n-nodes-base.set","position":[1104,480],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}","additionalFields":{}},"id":"7c7cbb13-8b9d-4e98-9287-4002166ff159","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[1552,400],"webhookId":"ef3f120e-c212-45ff-99b5-b6a5a82598d8","typeVersion":1.1,"credentials":{"telegramApi":{"id":"0I784GjmVgEbddxU","name":"AstraVertex API Bot"}}},{"parameters":{"content":"## Process Telegram Request\n","height":279,"width":624,"color":7},"id":"8078f53c-0aed-4f01-bf8f-f0e65a8291c0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1072,368],"typeVersion":1},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node helps your agent remember the last few messages to stay on topic.","height":260,"width":308,"color":7},"id":"f326d185-cd53-421e-a3d1-ae3b0d162bfa","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[1904,784],"typeVersion":1,"notes":"┬® 2025 Lucas Peyrin"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent create and get tasks from Google Tasks\n","height":260,"width":484,"color":7},"id":"48c06490-e261-45f5-ad0c-2b2648203ab0","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[2240,784],"typeVersion":1,"notes":"┬® 2025 Lucas Peyrin"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent access your gmail\n","height":260,"width":308,"color":7},"id":"8bb0d940-eda3-4ecf-8a1d-15b1a6445a83","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[2752,784],"typeVersion":1,"notes":"┬® 2025 Lucas Peyrin"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis node allows your agent access your Google calendar\n","height":260,"width":676,"color":7},"id":"cf8916e8-4701-4644-9d92-e2dd78665448","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[3088,784],"typeVersion":1,"notes":"┬® 2025 Lucas Peyrin"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSend message back to Telegram\n","height":288,"width":304,"color":7},"id":"fd801aac-5dfa-4a51-abbd-b187a6e588e8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2592,368],"typeVersion":1},{"parameters":{"task":"MTY1MTc5NzMxMzA5NDc5MTQ5NzQ6MDow","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{}},"id":"4a44f67a-65b1-4de7-898f-ee7724e33bb1","name":"Create a task in Google Tasks","type":"n8n-nodes-base.googleTasksTool","position":[2336,848],"typeVersion":1,"disabled":true},{"parameters":{"operation":"getAll","task":"MTY1MTc5NzMxMzA5NDc5MTQ5NzQ6MDow","additionalFields":{}},"id":"0262484e-23cc-49b3-be29-8f205e49077a","name":"Get many tasks in Google Tasks","type":"n8n-nodes-base.googleTasksTool","position":[2528,848],"typeVersion":1,"disabled":true},{"parameters":{"model":"openai/gpt-oss-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1744,816],"id":"fb59913b-8392-4e31-a452-313eb307aec4","name":"Groq Chat Model","credentials":{"groqApi":{"id":"AguPaPBBgPVPderS","name":"Groq account"}}},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1936,368],"id":"b5a51fd2-f68b-42d9-b2f2-33c84ec3507b","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"bVpM2Qbh2M1lIZ2r","name":"Header Auth account_audio_Groq"},"httpBearerAuth":{"id":"RVmZtyc4kvxyh4Db","name":"Bearer Auth account"}}},{"parameters":{"jsCode":"for (const item of items) {\n  // Verificamos si existe el archivo binario 'data'\n  if (item.binary && item.binary.data) {\n    // Le cambiamos el nombre y la extensi├│n a .ogg\n    item.binary.data.fileName = 'audio.ogg';\n    item.binary.data.fileExtension = 'ogg';\n    item.binary.data.mimeType = 'audio/ogg';\n  }\n}\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,368],"id":"5ae76749-4c8d-490e-ad11-948d15181b17","name":"Cambia nombre audio Telegram"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","tableName":"vertexAI_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2000,848],"id":"2a5a9c25-8939-4be8-9cbe-2def888680e4","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"h2OuyVlsJBzFVQqf","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Create an event in Google Calendar","calendar":{"__rl":true,"value":"kukulkantics@gmail.com","mode":"list","cachedResultName":"kukulkantics@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3344,832],"id":"3d1c611b-3ee6-4f50-ab01-8c706b94244f","name":"Crea_Evento","credentials":{"googleCalendarOAuth2Api":{"id":"YzWO7SeQ2u4WugSL","name":"Google Calendar account - KukulkanGmail"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to search for events and retrieve their unique 'id'. Always run this tool BEFORE trying to update, move, or delete an event to get the correct ID.","operation":"getAll","calendar":{"__rl":true,"value":"kukulkantics@gmail.com","mode":"id"},"options":{"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","fields":"=items(id, summary, start(dateTime), end(dateTime))"}},"id":"b70bab99-2919-42c0-a64f-ea8340503a81","name":"Obtiene_eventos","type":"n8n-nodes-base.googleCalendarTool","position":[3136,832],"typeVersion":1.1,"credentials":{"googleCalendarOAuth2Api":{"id":"YzWO7SeQ2u4WugSL","name":"Google Calendar account - KukulkanGmail"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool ONLY when you possess the exact, long alphanumeric 'id' of the event (e.g., '748392ncw...'). NEVER guess or invent the ID. If the user asks to move an event and you don't have this specific ID in your memory, you MUST first use the 'Obtiene_eventos' tool to find it.","operation":"update","calendar":{"__rl":true,"value":"kukulkantics@gmail.com","mode":"list","cachedResultName":"kukulkantics@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3536,848],"id":"b168d6f8-9655-402d-906c-6a9cf30de50b","name":"Actualiza_evento","credentials":{"googleCalendarOAuth2Api":{"id":"YzWO7SeQ2u4WugSL","name":"Google Calendar account - KukulkanGmail"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=Eres un asistente personal ├║til y eficiente llamado Astro. Me llamar├ís por mi nombre, Gustavo.\n\nLa fecha de hoy es {{ $today.format('yyyy-MM-dd') }}.\n\nFORMATO OBLIGATORIO:\nPara todas las fechas en Calendar, usa formato ISO 8601 (ej: 2023-10-25T14:30:00).\n\n**TUS HERRAMIENTAS ACTIVAS:**\n1. **Google Calendar:** (Nodos: `Obtiene_eventos`, `Actualiza_evento`, `Crea_Evento`).\n2. **Gmail:** (Nodos: `Obtener_Emails`, `Mandar_Email`).\n3. **Cotizaciones:** (Herramienta: `crear_cotizacion`).\n*(Nota: No tienes acceso a gesti├│n de tareas).*\n\n**DIRECTRICES DE COMPORTAMIENTO:**\n\n1. **Gesti├│n de Calendario (Eventos):**\n   - **PROTOCOLO DE SEGURIDAD (CR├ìTICO):**\n     1. Si pido mover/cambiar una cita, NUNCA inventes el ID.\n     2. PRIMERO usa **Obtiene_eventos** para ver la lista y EXTRAER el `id` real.\n     3. Solo entonces usa **Actualiza_evento** con ese `id` exacto.\n\n2. **Correos Electr├│nicos (MODO RESUMEN):**\n   - **Lectura:** Cuando revise tu buz├│n, NO uses tablas. Presenta una lista de vi├▒etas r├ípida y visual.\n   - **Formato:** * ­ƒƒó **[Remitente]**: [Asunto] - (Resumen de m├íx 5 palabras).\n   - Omite fecha/hora salvo que sea relevante.\n\n3. **Generaci├│n de Cotizaciones:**\n   - Si te pido una cotizaci├│n, usa la herramienta **`crear_cotizacion`**.\n   - Debes extraer y estructurar mi solicitud en un JSON con:\n     * `cliente`: Nombre de la persona o empresa.\n     * `items`: Una lista de objetos donde cada uno tenga `concepto` (nombre del servicio) y `cantidad` (n├║mero).\n   - Al terminar, entr├®game el enlace al documento generado.\n\n4. **Manejo de Tareas:**\n   - Si pido crear tarea, avisa que el m├│dulo est├í desactivado y ofrece agendarlo en Calendar o enviarte un email.\n\n5. **Estilo:**\n   - S├® directo. Evita saludos largos."}},"id":"4ec85126-51da-4f3b-a04f-16552fdcb244","name":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"@n8n/n8n-nodes-langchain.agent","position":[2224,464],"typeVersion":1.6},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please format this nicely in html`, 'string') }}","options":{"appendAttribution":false}},"id":"2ea5b79c-2e49-4d7e-933c-8b1a58d2415c","name":"Mandar_Email","type":"n8n-nodes-base.gmailTool","position":[2944,832],"webhookId":"a4ae7b5d-7686-4bee-a753-848932860b4e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"OoIHt2eJqTsVvEPJ","name":"Gmail account - Kukul"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX"],"readStatus":"unread","receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"}},"id":"89d9a5d9-d3c7-48c1-98cf-cc8987ba9391","name":"Obtener_EMails","type":"n8n-nodes-base.gmailTool","position":[2800,832],"webhookId":"a4ae7b5d-7686-4bee-a753-848932860b4e","typeVersion":2.1,"credentials":{"gmailOAuth2":{"id":"OoIHt2eJqTsVvEPJ","name":"Gmail account - Kukul"}}},{"parameters":{"description":"Use this tool to create a Google Docs price quote. You must provide a JSON input with strictly two fields: 'cliente' (the name of the client) and 'items' (an array of objects, where each object has 'concepto' matching the service name and 'cantidad' as a number).","workflowId":{"__rl":true,"value":"cubfsmIDO8cvQlRG","mode":"list","cachedResultUrl":"/workflow/cubfsmIDO8cvQlRG","cachedResultName":"Crea_Cotizacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"items":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('items', ``, 'json') }}","cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2496,1104],"id":"677c6644-1d88-45df-a23d-066af8f4c9ae","name":"Call 'Crea_Cotizacion'","notesInFlow":false}],"connections":{"If":{"main":[[{"node":"Get Voice File","type":"main","index":0}],[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Voice File":{"main":[[{"node":"Cambia nombre audio Telegram","type":"main","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]},"Create a task in Google Tasks":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Get many tasks in Google Tasks":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"main","index":0}]]},"Cambia nombre audio Telegram":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_memory","index":0}]]},"Crea_Evento":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Obtiene_eventos":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Actualiza_evento":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Mandar_Email":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Obtener_EMails":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]},"Call 'Crea_Cotizacion'":{"ai_tool":[[{"node":"Gus, AI Assistant ­ƒæ®­ƒÅ╗ÔÇì­ƒÅ½","type":"ai_tool","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"8237"},"pinData":{},"versionId":"12c8d259-f1f5-4369-b627-d1282d6e90df","triggerCount":1,"shared":[{"updatedAt":"2025-12-03T17:46:20.296Z","createdAt":"2025-12-03T17:46:20.296Z","role":"workflow:owner","workflowId":"bpkuwtPUxlhXnR39","projectId":"YqeuzD1OmtG6aqwS"}],"tags":[]},{"updatedAt":"2025-12-04T18:55:43.552Z","createdAt":"2025-12-04T17:35:48.696Z","id":"cubfsmIDO8cvQlRG","name":"Crea_Cotizacion","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cliente"},{"name":"items","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-432,-160],"id":"a9880ab4-6459-4e0d-9446-d700bf3774f6","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"11xcyucH5r40eiI-8NZ0bqA-CQHRgmRekVPQvLf3bYmk","mode":"list","cachedResultName":"Catalogo_Precios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11xcyucH5r40eiI-8NZ0bqA-CQHRgmRekVPQvLf3bYmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11xcyucH5r40eiI-8NZ0bqA-CQHRgmRekVPQvLf3bYmk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-176,-160],"id":"1d67c7e5-8a1a-4c65-8829-ade682d7c9ba","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"HX1LLw3ojZZrp77M","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// 1. OBTENER DATOS DEL CAT├üLOGO (Google Sheets)\nconst catalogo = items.map(item => item.json);\n\n// 2. OBTENER SOLICITUD (Con Respaldo de Emergencia)\nlet solicitud = [];\n\ntry {\n  // Intentamos leer el nodo Trigger\n  solicitud = $('When Executed by Another Workflow').first().json.items;\n} catch (error) {\n  // Si falla, no hacemos nada, dejaremos que entre el respaldo\n}\n\n// ÔÜá´©Å RESPALDO DE EMERGENCIA ÔÜá´©Å\n// Si no llegaron datos (el error que tienes ahora), usamos estos datos falsos\n// para que el c├│digo NO se rompa y puedas ver la tabla generada.\nif (!solicitud || solicitud.length === 0) {\n  solicitud = [\n    { \"concepto\": \"Deploy en Nube\", \"cantidad\": 1 },\n    { \"concepto\": \"Conectar p├ígina a supabase\", \"cantidad\": 2 }\n  ];\n}\n\nlet granTotal = 0;\nlet tablaTexto = \"\";\nlet contador = 1;\n\n// 3. FUNCI├ôN DE B├ÜSQUEDA\nfunction buscarPrecio(nombreBusqueda) {\n  if (!nombreBusqueda) return 0;\n  const busqueda = nombreBusqueda.toLowerCase();\n\n  // B├║squeda flexible (Match exacto o palabras clave)\n  let encontrado = catalogo.find(fila => \n    fila.Concepto && fila.Concepto.toLowerCase().includes(busqueda)\n  );\n\n  if (!encontrado) {\n    const palabras = busqueda.split(\" \");\n    encontrado = catalogo.find(fila => {\n      if (!fila.Concepto) return false;\n      return palabras.some(p => p.length > 4 && fila.Concepto.toLowerCase().includes(p));\n    });\n  }\n\n  // USAMOS LA COLUMNA CORRECTA: 'Precio_Unitario'\n  return encontrado ? parseFloat(encontrado.Precio_Unitario) : 0; \n}\n\n// 4. GENERAR TABLA\nfor (const item of solicitud) {\n  const precioUnitario = buscarPrecio(item.concepto);\n  const cantidad = parseInt(item.cantidad) || 1;\n  const subtotal = precioUnitario * cantidad;\n  \n  granTotal += subtotal;\n\n  const num = contador.toString().padEnd(3, ' ');\n  const descRaw = precioUnitario === 0 ? `ÔÜá´©Å NO PRECIO: ${item.concepto}` : `${item.concepto}`;\n  const desc = descRaw.substring(0, 40).padEnd(40, ' ');\n  const prec = `$${subtotal}`;\n  \n  tablaTexto += `${num}| ${desc}| ${prec}\\n`;\n  contador++;\n}\n\n// 5. PIE DE P├üGINA\ntablaTexto += \"------------------------------------------------------\\n\";\ntablaTexto += `   | TOTAL                                  | $${granTotal}`;\n\nreturn {\n  json: {\n    tabla_formateada: tablaTexto,\n    total_numerico: granTotal,\n    fecha_hoy: new Date().toLocaleDateString('es-MX')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,-160],"id":"36c96c8f-766b-4121-a8d7-81fe1d749339","name":"Code in JavaScript"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1kR_h-9q--FcJWbYlmHzTk-_5bBWYUSVRfRiio8l4vs8","mode":"list","cachedResultName":"Cotizaci├│n de Servicios","cachedResultUrl":"https://docs.google.com/document/d/1kR_h-9q--FcJWbYlmHzTk-_5bBWYUSVRfRiio8l4vs8/edit?usp=drivesdk"},"name":"=Cotizaci├│n - Cotizaci├│n - {{ $('When Executed by Another Workflow').first().json.cliente }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[272,-160],"id":"88424465-3633-40c4-98a6-29daf475385f","name":"Copy file","credentials":{"googleDriveOAuth2Api":{"id":"SDWvwIvrJoZBsGuQ","name":"Google Drive account"}}},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[480,-144],"id":"c855625c-effc-407c-afac-9dd64bb710ee","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"jOgxc8CDSmiPRnpY","name":"Google Docs account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Update a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"cliente":"Angel Martin","items":[{"concepto":"Deploy en Nube","cantidad":1},{"concepto":"Conectar p├ígina a supabase","cantidad":2}]}}]},"versionId":"f52bbcb6-da38-4627-b999-76a559605243","triggerCount":0,"shared":[{"updatedAt":"2025-12-04T17:35:48.696Z","createdAt":"2025-12-04T17:35:48.696Z","role":"workflow:owner","workflowId":"cubfsmIDO8cvQlRG","projectId":"YqeuzD1OmtG6aqwS"}],"tags":[]}],"nextCursor":null}
